@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Global overrides, typography, etc. */
.vocab-tooltip {
    user-select: none; /* Prevents text selection */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

@layer base {
    ul, ol {
        list-style: revert;
        padding: revert;
    }
}

:root {
    --text-color: #111827;
    --header-bg: #ffffff;
}
  
.dark {
    --text-color: #e0e0e0;
    --header-bg: #111827;
}
  
/* Apply to body and common elements */
body {
    color: var(--text-color);
}
  
header, nav {
    background-color: var(--header-bg);
}